body {
  display: flex;
  height: 100vh;
}

.side-navbar {
  border: solid 1px black;
  width: 10%;
  height: 110%;
  /* padding-left: 10px; */

  display: flex;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.5s;
}

.side-navbar a {
  display: inline;
}

.sidebar-items {
  /* padding-left: 50%; */

  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.logo-item {
  display: block;
  margin-top: 10px;
}

.item {
  /* border: solid 1px black; */
  margin-bottom: 20px;
}

.item a {
  margin-left: 10px;
}

.fa-bars {
  width: 100%;
  display: inline-block;
}

.contraer {
  width: 5%;
}

.contraer a {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
}

.container{


    display: flex;
    align-items: top;
    justify-content: center;
    
}

.btn-publicar{
    margin-top: 20px;

    display: flex;
    justify-content: center;
}