body {
  display: flex;
  height: 100vh;
}

.side-navbar {
  border: solid 1px black;
  width: 10%;
  height: 110%;
  /* padding-left: 10px; */

  display: flex;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.5s;
}

.side-navbar a {
  display: inline;
}

.sidebar-items {
  /* padding-left: 50%; */

  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.logo-item {
  display: block;
  margin-top: 10px;
}

.item {
  /* border: solid 1px black; */
  margin-bottom: 20px;
}

.item a {
  margin-left: 10px;
}

.fa-bars {
  width: 100%;
  display: inline-block;
}

.contraer {
  width: 5%;
}

.contraer a {
  display: none;
}

.container{
  width: 100%;
  height: 100%;
}

.routines-container{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.mis-rutinas{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routine{
  border: solid 1px black;
  width: 200px;
  height: 200px;
}

/* MEDIA QUERY */

@media (max-width: 1025px) {
  .side-navbar {
    width: 15%;
  }

  .contraer {
    width: 8%;
  }
}

@media (max-width: 769px) {
  .side-navbar {
    width: 20%;
  }

  .contraer {
    width: 8%;
  }
}

@media (max-width: 481px) {
  .side-navbar {
    width: 30%;
  }

  .contraer {
    width: 10%;
  }
}

@media (max-width: 320px) {
  .side-navbar {
    width: 30%;
  }

  .contraer {
    width: 15%;
  }
}

